<div class="container">
    <div class="col-xs-3 margin-top-30 pointer" ng-click="performLeftClick()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 align="center">{{leftTitle}}</h3></div>
            <div class="panel-body">
                <h4 align="center">{{leftTextH4}}</h4>
                <br>
                <h5 align="center">{{leftTextH5}}</h5>
            </div>
        </div>
    </div>
    <div class="col-xs-6 margin-top-20 pointer" ng-click="performMiddleClick()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 align="center">{{middleTitle}}</h4></div>
            <div class="panel-body">
                <h4 align="center">{{middleTextH4_1}}</h4>
                <br>
                <h4 align="center">{{middleTextH4_2}}</h4>
                <br>
                <h5 align="center">{{middleTextH5}}</h5>
            </div>
        </div>
    </div>
    <div class="col-xs-3 margin-top-30 pointer" ng-click="performRightClick()">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 align="center">{{rightTitle}}</h3></div>
            <div class="panel-body">
                <h4 align="center">{{rightTextH4}}</h4>
                <br>
                <h5 align="center">{{rightTextH5}}</h5>
            </div>
        </div>
    </div>
